<div class='container text-center'><h1> about page</h1>
<p>We are DevMatch. Our company focuses on creating exclusive community for
developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, distinctio, ut, quisquam, commodi soluta ducimus molestias quasi ullam quos consequuntur dolorum neque dignissimos a tempore nihil ad consequatur ipsum laboriosam.
</p>
</div>